<div class="admin-panel-container">

  <h1>Admin Dashboard</h1>
  <p>Quick access to all sections</p>

  <div class="cards-container">
    <div class="admin-card" routerLink="/students-list">
      <i class="fa fa-users"></i>
      <h3>Students List</h3>
      <p>View and manage all students</p>
    </div>

    <div class="admin-card" routerLink="/enroll">
      <i class="fa fa-user-plus"></i>
      <h3>Enroll Student</h3>
      <p>Add new student to the system</p>
    </div>

    <div class="admin-card" routerLink="/teachers">
      <i class="fa fa-graduation-cap"></i>
      <h3>Teachers</h3>
      <p>View and manage teachers</p>
    </div>

    <div class="admin-card" routerLink="/subjects">
      <i class="fa fa-book"></i>
      <h3>Subjects</h3>
      <p>Manage subjects</p>
    </div>

    <div class="admin-card" routerLink="/sports">
      <i class="fa fa-trophy"></i>
      <h3>Sports</h3>
      <p>Manage sports activities</p>
    </div>

    <div class="admin-card" routerLink="/users-list">
      <i class="fa fa-users"></i>
      <h3>Users List</h3>
      <p>View and manage all users</p>
    </div>

    <div class="admin-card" routerLink="/student-logs">
      <i class="fa fa-history"></i>
      <h3>Student Logs</h3>
      <p>Track deleted students and admin activity</p>
    </div>

    <div class="admin-card" routerLink="/student-logs">
      <i class="fa fa-history"></i>
      <h3>Users Logs</h3>
      <p>Track deleted users and admin activity</p>
    </div>
  </div>
</div>
