<div class="signup-container">
  <div class="signup-box">
    <h2>Sign Up</h2>
    <p>Create your account</p>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <div class="form-group">
        <label><i class="fa fa-user"></i> Name</label>
        <input type="text" formControlName="name" placeholder="Enter your name" />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label><i class="fa fa-envelope"></i> Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label><i class="fa fa-lock"></i> Password</label>
        <input type="password" formControlName="password" placeholder="Enter your password" />
      </div>

      <!-- City -->
      <div class="form-group">
        <label><i class="fa fa-city"></i> City</label>
        <input type="text" formControlName="city" placeholder="Enter city name" />
      </div>

      <!-- Submit -->
      <button type="submit">Sign Up</button>
    </form>

    <p class="login-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
