<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="table-container">
  <h2>Students List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Mother Name</th>
        <th>Father Name</th>
        <th>Gender</th>
        <th>Grade</th>
        <th>Date Of birth</th>
        <th>City</th>
        <th *ngIf="userRole === 'admin' || userRole === 'owner'">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.fullname }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.mobilenumber }}</td>
        <td>{{ student.mothername }}</td>
        <td>{{ student.fathername }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.grade }}</td>
        <td>{{ student.dateofbirth }}</td>
        <td>{{ student.city }}</td>
        <td class="action-buttons" *ngIf="userRole === 'admin' || userRole === 'owner'">
          <button class="edit-btn" title="Edit">
            <i class="fa fa-edit"></i>
          </button>
          <button class="delete-btn" title="Delete" (click)="deleteStudent(student.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
