<div class="table-container">
  <h2>Users List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>User Type</th>
        <th *ngIf="userRole === 'owner'">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.user_type }}</td>
        <td class="action-buttons" *ngIf="userRole === 'owner'">
          <button class="edit-btn" title="Edit">
            <i class="fa fa-edit"></i>
          </button>
          <button class="delete-btn" title="Delete" (click)="deleteUser(user.id)">
            <i class="fa fa-trash"></i>
          </button>
          <button *ngIf="user.user_type !== 'owner'" class="admin-btn" title="Make Admin" (click)="makeAdmin(user.id,user.user_type)">
            <i class="fa-solid fa-user-shield"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
